
@-webkit-keyframes gwd-gen-tg04gwdanimation_gwd-keyframes {
  0% { top: 30px; -webkit-animation-timing-function: linear; }
  53.19% { top: 30px; -webkit-animation-timing-function: linear; }
  68.09% { top: -250px; -webkit-animation-timing-function: linear; }
  82.98% { top: -250px; -webkit-animation-timing-function: linear; }
  100% { top: 0px; -webkit-animation-timing-function: linear; }
}
@-moz-keyframes gwd-gen-tg04gwdanimation_gwd-keyframes {
  0% { top: 30px; -moz-animation-timing-function: linear; }
  53.19% { top: 30px; -moz-animation-timing-function: linear; }
  68.09% { top: -250px; -moz-animation-timing-function: linear; }
  82.98% { top: -250px; -moz-animation-timing-function: linear; }
  100% { top: 20px; -moz-animation-timing-function: linear; }
}
@keyframes gwd-gen-tg04gwdanimation_gwd-keyframes {
  0% { top: 30px; animation-timing-function: linear; }
  53.19% { top: 30px; animation-timing-function: linear; }
  68.09% { top: -250px; animation-timing-function: linear; }
  82.98% { top: -250px; animation-timing-function: linear; }
  100% { top: 30px; animation-timing-function: linear; }
}
.gwd-gen-tg04gwdanimation {
  -webkit-animation: gwd-gen-tg04gwdanimation_gwd-keyframes 6.7s linear 5s 1 normal forwards;
  -moz-animation: gwd-gen-tg04gwdanimation_gwd-keyframes 6.7s linear 5s 1 normal forwards;
  animation: gwd-gen-tg04gwdanimation_gwd-keyframes 6.7s linear 5s 1 normal forwards;
}


.gwd-div-4waa {
	position: relative;
	border: 0px solid rgb(81, 80, 80);
	-webkit-transform-origin: 472.5px 230px 0px;
	-moz-transform-origin: 472.5px 230px 0px;
	transform-origin: 472.5px 230px 0px;
	-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	-moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	background-image: none;
	background-color: rgb(255, 255, 255);
	height: 956px;
	width: 950px;
	top: 30px;
	margin-top:30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.gwd-div-n7wk {
  position: absolute;
  border: 1px solid rgb(57, 188, 214);
  border-image-source: none;
  left: 30px;
  top: 30px;
  background-image: none;
  width: 250px;
  height: 250px;
}

/*  TITRE  */
.gwd-div-42ug {
  position: absolute;
  text-align: left;
  font-family: 'Open Sans';
  font-size: 36px;
  color: rgb(52, 173, 196);
  background-color: #FFF;
  border: 1px solid rgb(57, 188, 214);
  width: 315px;
  height: 49px;
  -webkit-transform-origin: 157.5px 49px 0px;
  -moz-transform-origin: 157.5px 49px 0px;
  transform-origin: 157.5px 49px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 314px;
  top: -38px;
  padding: 5px 5px 5px 5px;
}

.gwd-div-xq0r {
  position: absolute;
  width: 142px;
  height: 142px;
  text-align: left;
  color: rgb(0, 0, 0);
  left: 30px;
  top: 30px;
  font-family: 'Open Sans';
}

.gwd-div-73xv {
  text-align: center;
}

.gwd-span-6yk4 {
  color: rgb(57, 188, 214);
}

.gwd-div-1z20 {
  text-align: center;
}

.gwd-span-4pnc {
  color: rgb(57, 188, 214);
}

.gwd-div-nvoe {
  position: absolute;
  font-family: 'Times New Roman';
  text-align: left;
  color: rgb(0, 0, 0);
  left: 63px;
  top: 20px;
}

.gwd-span-x88n {
  font-family: 'Open Sans';
  font-size: 26px;
  color: rgb(57, 188, 214);
}

.gwd-img-zd6k {
  position: absolute;
  width: 192px;
  height: 119px;
  -webkit-transform-origin: 96px 59.5px 0px;
  -moz-transform-origin: 96px 59.5px 0px;
  transform-origin: 96px 59.5px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 24.5px;
  top: 60px;
}

.gwd-div-nprp {
  position: absolute;
  text-align: left;
  font-family: 'Open Sans';
  color: rgb(57, 188, 214);
  width: 192.203125px;
  height: 64px;
  -webkit-transform-origin: 103.4418604651px 22.7368421053px 0px;
  -moz-transform-origin: 103.4418604651px 22.7368421053px 0px;
  transform-origin: 103.4418604651px 22.7368421053px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 24.785255666434466px;
  top: 179.29629629629608px;
}

.gwd-em-roa1 {
  color: rgb(57, 188, 214);
}

.gwd-em-v5q5 {
  color: rgb(57, 188, 214);
}

.gwd-div-ruqk {
  width: 250px;
  left: 50px;
  top: 50px;
}

.gwd-div-hcsg {
  height: 36px;
  width: 107px;
}

.gwd-span-y3q3 {
  width: auto;
}

.gwd-img-25o6 {
  width: 192px;
}

.gwd-div-fdh8 {
  width: 192.203125px;
}

.p1 {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  height: 44px;
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  width: 192.203125px;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
}

.gwd-p-jxrf {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  height: 44px;
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  width: 192.203125px;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
}

.gwd-em-q8fn {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-div-slld {
  left: 350px;
  top: 50px;
}

.gwd-span-06c5 {
  font-size: 26px;
}

.gwd-div-rysc {
  left: 16px;
  top: 15px;
}

.gwd-div-ce2q {
  left: 42.28525566639942px;
  top: 162.29629629630028px;
  width: 190.203125px;
  height: 78px;
  -webkit-transform-origin: 102.3643410852px 27.7105263158px 0px;
  -moz-transform-origin: 102.3643410852px 27.7105263158px 0px;
  transform-origin: 102.3643410852px 27.7105263158px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.gwd-img-x12v {
  position: absolute;
  width: 167px;
  height: 96px;
  -webkit-transform-origin: 83px 48px 0px;
  -moz-transform-origin: 83px 48px 0px;
  transform-origin: 83px 48px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 39px;
  top: 71px;
}

.gwd-div-vcs2 {
  width: 250px;
  top: 50px;
  left: 650px;
}

.gwd-div-ju2w {
  width: 121px;
  height: 42px;
  -webkit-transform-origin: 60.5px 21px 0px;
  -moz-transform-origin: 60.5px 21px 0px;
  transform-origin: 60.5px 21px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 60px;
  top: 13px;
}

.gwd-font-scz6 {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-span-zi34 {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-div-tbdr {
  width: 190.203125px;
  height: 64px;
  -webkit-transform-origin: 102.3643410852px 22.7368421053px 0px;
  -moz-transform-origin: 102.3643410852px 22.7368421053px 0px;
  transform-origin: 102.3643410852px 22.7368421053px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 22.285255666399998px;
  top: 177.2962962963px;
}

.gwd-p-6etn {
  width: 192.203125px;
}

.gwd-span-th8l {
  font-size: 26px;
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
}

.gwd-img-dmr2 {
  position: absolute;
  width: 147px;
  height: 126px;
  left: 48px;
  top: 55px;
}

.gwd-div-f861 {
  width: 250px;
  left: 50px;
  top: 350px;
}

.gwd-div-d53k {
  width: 225px;
  height: 37px;
  -webkit-transform-origin: 112.5px 18.5px 0px;
  -moz-transform-origin: 112.5px 18.5px 0px;
  transform-origin: 112.5px 18.5px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 25px;
  top: 15px;
}

.gwd-span-nzw1 {
  width: auto;
}

.gwd-div-btx2 {
  width: 233.203125px;
  height: 49px;
  -webkit-transform-origin: 125.5310077519px 17.4078947369px 0px;
  -moz-transform-origin: 125.5310077519px 17.4078947369px 0px;
  transform-origin: 125.5310077519px 17.4078947369px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 14.7852556664px;
  top: 193.2962962963px;
}

.gwd-p-duzn {
  width: 192.203125px;
}

.gwd-img-jxor {
  position: absolute;
  width: 133px;
  height: 131px;
  left: 48.499999999999886px;
  top: 52px;
}

.gwd-span-3zk9 {
  font-size: 26px;
}

.gwd-div-x91d {
  width: 250px;
}

.gwd-div-uplv {
  height: 36px;
  width: 216px;
}

.gwd-font-qzj5 {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-span-whht {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-div-wgo6 {
  width: 222.203125px;
  height: 73px;
  -webkit-transform-origin: 119.6046511627px 25.9342105263px 0px;
  -moz-transform-origin: 119.6046511627px 25.9342105263px 0px;
  transform-origin: 119.6046511627px 25.9342105263px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 15.285255666400339px;
  top: 172.29629629630003px;
}

.gwd-p-xl4m {
  width: 219.203125px;
  height: 51px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.gwd-img-4t0f {
  width: 166px;
}

.gwd-div-5twe {
  left: 350px;
  top: 350px;
}

.gwd-span-epnz {
  font-size: 26px;
}

.gwd-div-7oof {
  left: 44px;
  top: 15px;
}

.gwd-img-nhgb {
  position: absolute;
  width: 200px;
  height: 88px;
  left: 26px;
  top: 74px;
}

.gwd-div-7jyr {
  width: 190.203125px;
  height: 57px;
  -webkit-transform-origin: 102.3643410852px 20.25px 0px;
  -moz-transform-origin: 102.3643410852px 20.25px 0px;
  transform-origin: 102.3643410852px 20.25px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 35.28525566639942px;
  top: 179.29629629630028px;
}

.gwd-div-chuj {
  width: 250px;
}

.gwd-div-y5oh {
  height: 36px;
  width: 163px;
}

.gwd-font-p3ws {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-span-1bdo {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-div-it3r {
  width: 190.203125px;
}

.gwd-img-z989 {
  width: 200px;
}

.gwd-div-hdkj {
  top: 350px;
  left: 650px;
}

.gwd-img-0wd3 {
  position: absolute;
  width: 170px;
  height: 124px;
  left: 40px;
  top: 51px;
}

.gwd-span-x3n2 {
  font-size: 26px;
}

.gwd-div-9hr8 {
  left: 37px;
  top: 15px;
}

.gwd-div-3pjl {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 50px;
  top: 50px;
}

.gwd-div-x87a {
  width: 250px;
  left: 50px;
  top: 650px;
  border-image-source: none;
  border-color: rgb(122, 172, 17);
}

.gwd-span-2gjl {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-div-owpp {
  width: 233.203125px;
}

.gwd-span-hkkb {
  font-size: 26px;
}

.gwd-span-lfsk {
  color: rgb(122, 172, 17);
}

.gwd-span-su4y {
  color: rgb(122, 172, 17);
}

.gwd-span-cpol {
  color: rgb(122, 172, 17);
}

.gwd-span-lhhr {
  color: rgb(122, 172, 17);
}

.gwd-span-jpn7 {
  color: rgb(122, 172, 17);
}

.gwd-div-qwvk {
  position: absolute;
  left: 35px;
  top: 27px;
  text-align: left;
  font-family: 'Open Sans';
  font-size: 26px;
  color: rgb(122, 172, 17);
}

.gwd-div-2lcl {
  width: 207px;
  height: 73px;
  -webkit-transform-origin: 103.5px 36.5px 0px;
  -moz-transform-origin: 103.5px 36.5px 0px;
  transform-origin: 103.5px 36.5px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 15px;
  top: 10px;
}

.gwd-div-i2oz {
  text-align: center;
}

.gwd-span-tgjb {
  color: rgb(122, 172, 17);
}

.gwd-img-dau1 {
  position: absolute;
  width: 141px;
  height: 113px;
  left: 51px;
  top: 83px;
}

.gwd-div-wtmj {
  width: 250px;
  left: 350px;
  top: 650px;
}

.gwd-div-x081 {
  width: 192.203125px;
  height: 83px;
  -webkit-transform-origin: 104.4689511726px 29.4868421054px 0px;
  -moz-transform-origin: 104.4689511726px 29.4868421054px 0px;
  transform-origin: 104.4689511726px 29.4868421054px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 30.785255666399998px;
  top: 169.2962962963016px;
}

.gwd-span-27d1 {
  width: auto;
}

.editable {
  width: 207px;
}

.gwd-div-oe9s {
  left: 15px;
  top: 10px;
  width: 207px;
  height: 39px;
  -webkit-transform-origin: 103.5px 19.5px 0px;
  -moz-transform-origin: 103.5px 19.5px 0px;
  transform-origin: 103.5px 19.5px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.gwd-div-ifc6 {
  border-color: rgb(122, 172, 17);
  color: rgb(122, 172, 17);
  height: 72px;
  outline-color: rgb(122, 172, 17);
  text-decoration: none;
  -webkit-column-rule-color: rgb(122, 172, 17);
  -moz-column-rule-color: rgb(122, 172, 17);
  column-rule-color: rgb(122, 172, 17);
  -webkit-text-emphasis-color: rgb(122, 172, 17);
  -moz-text-emphasis-color: rgb(122, 172, 17);
  text-emphasis-color: rgb(122, 172, 17);
  -webkit-text-fill-color: rgb(122, 172, 17);
  -moz-text-fill-color: rgb(122, 172, 17);
  text-fill-color: rgb(122, 172, 17);
  -webkit-text-stroke-color: rgb(122, 172, 17);
  -moz-text-stroke-color: rgb(122, 172, 17);
  text-stroke-color: rgb(122, 172, 17);
  width: 207px;
}

.gwd-div-x7qv {
  width: 950px;
}

.gwd-img-gxgi {
  position: absolute;
  width: 189px;
  height: 63px;
  left: 26px;
  top: 80.50000000000011px;
}

.gwd-div-yetp {
  width: 250px;
  left: 650px;
  top: 650px;
  border-image-source: none;
  border-color: rgb(237, 74, 140);
}

.gwd-font-821i {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-span-p8i6 {
  border-color: rgb(57, 188, 214);
  color: rgb(57, 188, 214);
  outline-color: rgb(57, 188, 214);
  text-decoration: none;
  -webkit-column-rule-color: rgb(57, 188, 214);
  -moz-column-rule-color: rgb(57, 188, 214);
  column-rule-color: rgb(57, 188, 214);
  -webkit-text-emphasis-color: rgb(57, 188, 214);
  -moz-text-emphasis-color: rgb(57, 188, 214);
  text-emphasis-color: rgb(57, 188, 214);
  -webkit-text-fill-color: rgb(57, 188, 214);
  -moz-text-fill-color: rgb(57, 188, 214);
  text-fill-color: rgb(57, 188, 214);
  -webkit-text-stroke-color: rgb(57, 188, 214);
  -moz-text-stroke-color: rgb(57, 188, 214);
  text-stroke-color: rgb(57, 188, 214);
  width: auto;
}

.gwd-div-yni2 {
  width: 190.203125px;
}

.gwd-span-zzvd {
  font-size: 26px;
}

.gwd-span-tqnk {
  color: rgb(237, 74, 140);
  font-family: 'Open Sans';
}

.gwd-span-d4ol {
  color: rgb(237, 74, 140);
  font-family: 'Open Sans';
}

.gwd-div-ppwf {
  position: absolute;
  text-align: left;
  color: rgb(237, 74, 140);
  font-family: 'Open Sans';
  font-size: 26px;
  width: 143px;
  height: 37px;
  -webkit-transform-origin: 71.5px 18.5px 0px;
  -moz-transform-origin: 71.5px 18.5px 0px;
  transform-origin: 71.5px 18.5px 0px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 52px;
  top: 11px;
}

.gwd-span-10ra {
  color: rgb(237, 74, 140);
}

.gwd-img-97l9 {
  position: absolute;
  width: 127px;
  height: 114px;
  left: 52px;
  top: 48px;
}

.gwd-div-nkf1 {
  position: absolute;
  border: 1px solid rgb(57, 188, 214);
  left: 50px;
  top: 50px;
  width: 250px;
  height: 250px;
  background-image: none;
  background-color: rgb(255, 255, 255);
  border-image-source: none;
}

.gwd-div-jx2j {
  width: 250px;
  left: 350px;
}

.gwd-div-2evg {
  width: 250px;
  left: 650px;
}

.gwd-div-dajo {
  width: 250px;
  top: 350px;
}

.gwd-div-mu7i {
  width: 250px;
  left: 350px;
}

.gwd-div-dzfj {
  width: 250px;
  left: 650px;
}

.gwd-div-sjei {
  width: 250px;
  top: 650px;
  border-image-source: none;
  border-color: rgb(122, 172, 17);
}

.gwd-div-ysnd {
  width: 250px;
  left: 350px;
}

.gwd-div-m0f3 {
  width: 250px;
  left: 650px;
  border-image-source: none;
  border-color: rgb(237, 74, 140);
}